.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding-top: 70px;
}

.clear-cart-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.clear-cart-btn:hover {
  background-color: #0056b3;
}

.cart-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1200px;
  font-family: Arial, sans-serif;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.cart-item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.cart-item-price-per-kg {
  font-size: 14px;
  color: #666;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-item-quantity button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cart-item-quantity button:hover {
  background-color: #0056b3;
}

.cart-item-quantity span {
  margin: 0 10px;
  font-size: 16px;
}

.remove-item-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.remove-item-btn:hover {
  background-color: #c82333;
}

.calculate-total-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.calculate-total-btn:hover {
  background-color: #218838;
}
